/*Arquivo responśável por estilizar a página sobre.html*/
/*Parte responsável pelo Header*/
.container{
	margin: 0 auto;
	width: 940px;
}
.sacola{
	background-image: url(../img/sacola.png);
	background-repeat:no-repeat;
	background-position: top right;

	font-size: 14px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
	width: 140px;

	position: absolute;
	top:  0;
	right: 0;

}
header{
	position: relative;
}
.menu-opcoes{
	position: absolute;
	bottom: 0;
	right: 0;
}
.menu-opcoes ul{
	font-size: 14px;
}
.menu-opcoes ul li{
	display: inline;
	margin-left: 20px;
}
.menu-opcoes a{
	color: #003366;

}
/*Parte responsável pelo Body*/
/*Usando seletores de tags*/
body{
	color:#333333
 	font-family: "Lucida Sans Unicode","Lucida Grande ", sans-serif;
 	margin-left: auto;
 	margin-right: auto;
 	width: 940px;
}
h2{
  border-bottom: 2px, solid, #333333;
  margin-top: 30px;
}
figure{
 background-color: #F2EDED;
 border: 1px, solid, #ccc;
 text-align: center;
 padding: 15px;
 margin: 30px;
}
figcaption{
	font-style: italic;
	margin-top: 10px;
}
p{
	padding: 0 45px;
	text-indent: 15px;
}
p::first-letter{
	font-weight: bold;
}
h1 + p{
	text-indent: 0;
}
p::first-line{
	font-variant:small-caps;
}
#Mirror{
  background-image: url(../img/sobre-background.jpg);
  padding: 10px;
}
/*Usando seletores por ID*/
#centro-distribuicao{
margin-left: auto;
margin-right: auto;
width: 550px;
float:center;
}
#rodape{
	color:#777;
	margin: 30px 0;
	padding: 30px 0;
}
#rodape img{
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}
#familia-pelho{
	float: right;
	margin:0 0 10px 10px;
}
/*Responsável pelo rodapé*/
footer{
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding:20px 0;
}
footer .conteiner{
	position: relative;
}
.social{
	position: absolute;
	top: 1600px;
	right: 200px;
}
.social li{
	float: left;
	margin-left: 25px;
}
.social a{
	/*Tamanho da imagem */
	height: 32px;
	width: 32px;
	/*Image replacement*/
	display: block;
	text-indent: -9999px;
}

/* Image replacement */
.social a[href*='facebook.com']{
	background-image: url(../img/facebook.png);
}
.social a[href*='twitter.com']{
	background-image: url(../img/twitter.png);
}
.social a[href*='plus.google.com']{
	background-image: url(../img/googleplus.png);
}